h1 {
    padding-top: 50px;
    text-align: center;
}

.university-container {
    background-color: #f7f9fc; // Light pastel background
    border: 1px solid #e0e0e0; // Light border
    border-radius: 8px; // Rounded corners
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    h2 {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 1em;
      color: #666;
      margin-bottom: 10px;
    }
  
    a {
      color: #3498db;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .button-group {
      margin-top: 20px;
  
      button {
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0 5px;
  
        &:hover {
          background-color: #2980b9;
        }
  
        &:disabled {
          background-color: #b0c4de;
          cursor: not-allowed;
        }
      }
    }
}
  
  .loading {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    padding: 20px;
}
  